---
---

@import "{{ site.theme }}"; 

#title {
  display: none;
}

@media print, screen and (max-width: 480px) {
  #header {
    margin-top: initial;
  }

  section {
    margin-top: initial;
  }

  nav {
    display: initial;
  }
}
