
:root {
  color-scheme: light dark;
  /* color-scheme: light; */
}

* {
  box-sizing: border-box;
  user-select: none;
}

[hidden] {
  display: none !important;
}

[disabled] {
  pointer-events: none;
  opacity: 0.2;
}

input, button {
  margin-right: 5px;
  margin-bottom: 5px;
  height: 25px;
}

p {text-align: center;}

label {
  user-select: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 5px;
  &:has(input:enabled) {
    cursor: pointer;
  }
}

button:enabled, input[type="checkbox"]:enabled {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

h1 {
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

h1, p {
  user-select: text;
}

.offline {
  color: orangered;
}
.online {
  color: green;
}
.reconnecting {
  color: orange;
}

.cleanBreak {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

#container {
  justify-self: center;
  display: flex;
  margin: 5px;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 600px;
  /* prevents a bug where it can become smaller than content: */
  min-width: min-content;
}

#gameUI {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* &[disabled] {
    pointer-events: none;
    opacity: 0.1;
  } */
}

#table {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7px;
  row-gap: 5px;
  margin-bottom: 5px;
  > .card {
    cursor: pointer;
    width: 100px;
    transition: 
      opacity 1.0s ease;
    border: 4px solid blanchedalmond;
    &.selected {
      border-color: red;
    }
    &.hidden {
      opacity: 0.05;
    }
    padding: 5px;
    display: flex;
    height: 130px;
    background-color: blanchedalmond;
    border-radius: 10px;
    > img {
      width: 100%;
    }
  }
}
